.clipboard-icon {
  margin-left: $mr-tn;
  cursor: pointer;
}

.popup {
  position: absolute;
  border-radius: $brd-rds-sm;
  display: inline-flex;
  width: max-content;

  &::before {
    @include theme-aware('border-bottom-color', 'color-primary-shade');
    content: '';
    position: absolute;
    border-width: 4px;
    border-style: solid;
    border-color: transparent;
    right: 50%;
  }

  &.hidden {
    visibility: hidden;
  }
}

.popup--clipboard {
  @include theme-aware('background-color', 'color-primary-shade');
  @include theme-aware('color', 'color-white');
  top: $mr-lg;
  padding: 4px;
  margin-left: -$mr-xl;

  &::before {
    margin-top: -$mr-sm;
  }
}

.popup--share {
  @include theme-aware('background-color', 'color-primary-shade');
  top: calc(100% + $mr-sm);

  &::before {
    margin-top: -8px;
  }
}
