// Breakpoints
$bp-full: 100%;
$bp-md: 1280px;
$bp-xl: 1440px;
$bp-tablet: 1024px;
$bp-phone: 768px;

// Typography
$tp-tn: 10px;
$tp-sm: 12px;
$tp-md: 14px;
$tp-lg: 18px;
$tp-xl: 36px;
$tp-12xl: 54px;
$tp-2xl: 72px;
$tp-3xl: 98px;

$tp-xl-mb: 22px;
$tp-2xl-mb: 48px;
$tp-3xl-mb: 58px;

// Font weights
$wg-lt: 400;
$wg-md: 500;
$wg-bd: 600;
$wg-hv: 700;
$wg-sh: 900;

// Styling
$brd-rds-lg: 24px;
$brd-rds-sm: 8px;

// Spacing
$mr-tn: 4px;
$mr-sm: 12px;
$mr-md: 25px;
$mr-lg: 30px;
$mr-xl: 50px;
$mr-2xl: 72px;
$mr-3xl: 114px;

// Widths
$pg-full: 100%;
$pg-col: 1278px;
